/* Ignore css unknown rules */
/* stylelint-disable no-descending-specificity */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  cursor: url("/assets/cursor.svg"), auto !important;

}

@layer utilities {
  .default-text {
    @apply text-black font-poppins font-normal;
  }
}

/* //* Button Custom classes */
@layer utilities {
  .btn {
    @apply text-center cursor-pointer justify-center items-center gap-2.5 w-auto tracking-[1px] font-medium transition-all duration-500 ease-in-out focus:outline-offset-2 text-[15px] m-0 font-poppins;
  }

  .btn>svg {
    @apply text-[17px] m-0;
  }

  .solid-btn {
    @apply border text-white transition-all duration-500 ease-in-out disabled:cursor-not-allowed disabled:opacity-60 disabled:border-solid bg-blue;
  }

  .outline-btn {
    @apply border text-white transition-all duration-500 ease-in-out border-solid border-yellow-light disabled:text-[black] disabled:cursor-not-allowed disabled:opacity-30 disabled:border-[black] disabled:border-solid disabled:border-[1px] bg-transparent;
  }

  .solid-btn:hover,
  .solid-btn:active,
  .solid-btn:focus {
    @apply text-[black] bg-white transition-all duration-500 ease-in-out border-blue border-solid border-[1px];
  }

  .solid-btn:disabled {
    @apply bg-blue;
  }

  .outline-btn:focus,
  .outline-btn:hover,
  .outline-btn:active {
    @apply bg-blue text-white transition-all duration-500 ease-in-out;
  }

  .btn.bold {
    @apply font-semibold;
  }

  .avatar {
    @apply rounded-[50%] w-[33px] h-[33px] absolute border-solid border-black border-[1px];
  }

  /* Auth Page */

  .auth_label {
    @apply text-[16px] font-medium font-poppins;

  }

  .auth_input {
    @apply text-[16px] font-normal font-poppins border-solid border-[1px] border-white-dark rounded-[8px] w-[100%] h-[40px] px-[10px] py-[5px] outline-none focus:outline-none focus:border-blue mt-1 bg-transparent;
  }

  .auth_input::placeholder {
    @apply text-[15px] font-normal font-poppins;
  }

}


.blob1,
.blob2 {
  position: absolute;
  top: 22%;
  left: 64%;
  transform: translate(-50%, -50%);
  width: 440px;
  height: 440px;
  border-radius: 25rem;
  background: radial-gradient(105.68% 45.69% at 92.95% 50%, rgba(105, 244, 253, 0.5) 0%, rgba(160, 255, 244, 0.095) 53.91%, rgba(254, 216, 255, 0) 100%), radial-gradient(103.18% 103.18% at 90.11% 102.39%, #C9FFF2 0%, rgba(230, 255, 250, 0) 100%), radial-gradient(90.45% 90.45% at 87.84% 9.55%, #FFD2F5 0%, rgba(254, 219, 246, 0) 100%), linear-gradient(135.66deg, rgba(203, 185, 255, 0.8) 14.89%, rgba(216, 202, 254, 0) 74.33%);
  background-blend-mode: multiply, overlay, saturation, darken, luminosity, screen;
  filter: blur(100px);
}

.blob2 {
  top: 68%;
  left: 32%;
}

.blob3 {
  width: 300px;
  height: 300px;
  border-radius: 25rem;
  background: radial-gradient(63.62% 69.52% at 100% 0%, rgba(247, 214, 98, 0.8) 0%, rgba(247, 214, 98, 0.168) 52.08%, rgba(247, 214, 98, 0) 100%), linear-gradient(208.42deg, #F0422A 7.46%, rgba(240, 88, 42, 0.18) 42.58%, rgba(240, 101, 42, 0) 64.13%), radial-gradient(114.51% 122.83% at 0% -15.36%, #E74F6A 0%, rgba(231, 79, 106, 0.22) 66.72%, rgba(231, 79, 106, 0) 100%), linear-gradient(333.95deg, rgba(83, 208, 236, 0.85) -7.76%, rgba(83, 208, 236, 0.204) 19.67%, rgba(138, 137, 190, 0) 35.42%), radial-gradient(109.15% 148.57% at 4.46% 98.44%, #1B3180 0%, rgba(27, 49, 128, 0) 100%), linear-gradient(141.57deg, #4EADEB 19.08%, rgba(78, 173, 235, 0) 98.72%);
  background-blend-mode: color-dodge, overlay, lighten, color, saturation, luminosity;
  filter: blur(100px);
}

.formbg {
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.239);
}